<p>
  measurements works!
</p>
<table *ngIf="(measurements$ | async) as measurements">
  <tr>
    <th>Id</th>
    <th>Created</th>
    <th>Taken</th>
    <th>Electricity (high rate)</th>
    <th>Electricity (low rate)</th>
    <th>Gas</th>
  </tr>
  <tr *ngFor="let meas of measurements"> 
    <td>{{meas.id}}</td>
    <td>{{meas.created}}</td>
    <td>{{meas.date_taken}}</td>
    <td>{{meas.electricity_high_rate_kwh}}</td>
    <td>{{meas.electricity_low_rate_kwh}}</td>
		<td>{{meas.gas_m3}}</td>
  </tr>
</table>
<button routerLink="/measurement" routerLinkActive="active">Create new</button>