<div class="container mt-3">
  <h1>Measurements</h1>
  <table class="table" *ngIf="(measurements$ | async) as measurements">
    <tr>
      <th>Date taken</th>
      <th>Electricity (high rate) [kWh]</th>
      <th>Electricity (low rate) [kWh]</th>
      <th>Gas [m<sup>3</sup>]</th>
      <th style="width:20%"></th>
    </tr>
    <tr *ngFor="let meas of measurements">
      <td>{{meas.dateTaken | date:'dd.MM.yyyy'}}</td>
      <td>{{meas.values[0].value}}</td>
      <td>{{meas.values[1].value}}</td>
      <td>{{meas.values[2].value}}</td>
      <td>
        <span>
          <a routerLink="/supply-points/{{supplyPointId}}/measurements/{{meas.id}}" routerLinkActive="active">
            <i class="fas fa-pen fa-lg mr-2" ></i>
          </a>
          <a routerLinkActive="active" (click)="onDelete(meas)">
            <i class="btn fas fa-times fa-lg" ></i>
          </a>
        </span>
      </td>
    </tr>
  </table>
  <a class="btn btn-primary" routerLink="/supply-points/{{supplyPointId}}/measurements/0" routerLinkActive="active">Create new</a>
</div>