<p>
  measurements works!
</p>
<table *ngIf="(measurements$ | async) as measurements">
  <tr>
    <th>Id</th>
    <th>Created</th>
    <th>Taken</th>
    <th>Electricity (high rate)</th>
    <th>Electricity (low rate)</th>
    <th>Gas</th>
  </tr>
  <tr *ngFor="let meas of measurements"> 
    <td>{{meas.id}}</td>
    <td>{{meas.created}}</td>
    <td>{{meas.dateTaken}}</td>
    <td>{{meas.electricityHighRate}}</td>
    <td>{{meas.electricityLowRate}}</td>
    <td>{{meas.gas}}</td>
  </tr>
</table>
<button routerLink="/measurement" routerLinkActive="active">Create new</button>