<div *ngIf="form" class="container mt-3">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    
    <div class="form-group">
      <label for="dateTaken">Date taken</label>
      <input type="date" id="dateTaken" class="form-control" formControlName='dateTaken'>
    </div>

    <div formArrayName="values">
      <h4>Measured values</h4>
      <div class="form-group" *ngFor="let valueControl of form.get('values').controls; let i = index">
        <label>{{model.values[i].label}}</label>
        <input type="text" class="form-control" [formControlName]="i">
      </div>
    </div>
 
    <button class="btn btn-primary mt-3" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</div>