<div class="container mt-3">
  <form *ngIf="model" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="dateTaken">Date taken</label>
      <input type="date" id="dateTaken" class="form-control" [ngModel]="model.date_taken" name="dateTaken" required>
    </div>
    <div class="form-group">
      <label for="eleHighRate">Electricity (high rate) [kWh]</label>
      <input type="number" id="eleHighRate" class="form-control" [ngModel]="model.electricity_high_rate_kwh" name="eleHighRate">
    </div>
    <div class="form-group">
      <label for="eleLowRate">Electricity (low rate) [kWh]</label>
      <input type="number" id="eleLowRate" class="form-control" [ngModel]="model.electricity_low_rate_kwh" name="eleLowRate">
    </div>
    <div class="form-group">
      <label for="gas">Gas [m<sup>3</sup>]</label>
      <input type="number" id="gas" class="form-control" [ngModel]="model.gas_m3" name="gas">
    </div>
    <button class="btn btn-primary" type="sumbit">Submit</button>
  </form>
</div>